body{
    background-color: #F1F2F4;
}

.nav{
    height:60px;
    
    background-color: #FFFFFF;
}
.bname{
    height:55px;
    width:130px;
    margin-left:70px;
}
#bpic{
   margin-top:-8px;
   margin-left:-15px;
   width:120px;
   height:50px;
}

#search{
    background-color: #F0F5FF;
    width:100%;
    height:40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    border:none;
    padding-left: 40px;
}
.baseller{
    width:190px;
    height:40px;
    
    margin:10px auto;
}
#spic{
    margin-top:8px;
    float: left;
    margin-left: 15px;
}
#sbtn{
    width:120px;
    height:40px;
    border:none;
    margin-top:10px;
    margin-left:20px;
    padding-left: 20px;
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
}
#sbtn:hover{
    background-color: blue;
    color: white;
    
}
#sinpic{
    position: relative;
    left:-110px;
}
#cartbtn{
    width:120px;
    height:40px;
    border:none;
    margin-top:10px;
    margin-left:20px;
    padding-left: 20px;
    font-size: 18px;
    background-color: white;
}



.prouct{
    height:150px;
}
.proinner{
    width:98%;
    height:125px;
    margin:10px auto;
    background-color: white;
}
.pcontainer{
    width:10%;
    height:100px;
   
    margin-top:10px;
    margin-left:65px;
    float:left;
}
.pcontainers{
    width:10%;
    height:100px;
    
    margin-top:10px;
    
    float:left;
}
.pimg{
    width:100px;
    height:70px;
    
    margin:2px auto;
}
#proimg{
    width:65%;
    height:60px;
    margin-left:20px;

}

.slider{
    height:270px;
   
    
}
#carouselExample{
    
    margin-top:10px;
}

.bank{
    height:160px;
    
}
#banksoff{
    width:100%;
    height:150px;
}
.banner{
        height:300px;
        
    
}
.banners{
    width:32%;
    height:290px;
    float:left;
    
    margin-left:10px;
    margin-top:2px;
}
#sam{
    width:100%;
    height:280px;
}
.mpro{
    height:310px;
    
}
.pster{
   width:15%;
   height:300px;
   float:right;
      
}
#poster{
    width:100%;
    height:300px;
    }
.mproimg{
    width:85%;
    height: 290px;
    
    float:left;
    margin-top:2px;
    background-color: white;
}
.phead{
    height:50px;
    width:100%;
    
}
.mobile{
    width:200px;
    height:230px;
    
    margin-left:10px;
    float:left;
}
.mimg{
    width:100%;
    height:190px;
    
}
#msale{
    width:80%;
    height:170px;
    margin-left:20px;
    margin-top:5px;
}
#msale:hover{
    width:85%;
    height:175px;
}
.sflip{
    width:43%;
    background-color: #2A55E5;
    border-radius: 10px;
    height:40px;
    margin-left: 25px;
    margin-top: 5px;
    float:left;
}
.detail{
    width:100%;
    height:40px;
   
}

.fpara{
    height:300px;
    
    background-color: #212121;
}
.bone{
    width:16%;
    height:280px;
    
    margin-top:5px;
    margin-left:5px;
    float:left;
}

#ftag{
    text-decoration: none;
    font-size: 13px;
    line-height: 0px;
    color:#FFFFFF;
    font-weight: bold;
    
}

.lastf{
    height:60px;
    
    background-color: #212121;
}
.lone{
    width:10%;
    height:50px;
   
    float:left;
    margin-top:10px;
    margin-left:60px;
}
.limg{
    width:20%;
    height:40px;
   
    float:left;
    margin-left:50px;
    margin-top:20px;
}























@media only screen and (max-width:768px){
    .pcontainer{
        margin-left: 0px;
        width:23%;
    }
    .pcontainers{
        margin-left: 10px;
        width:23%;
        
    }
    #fq{
        font-size: 13px;
        color:rgb(158, 144, 126)
    }
    #search{
        width:90%;
        margin:0 auto;
        height:50px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    .slider{
       
        height:100px;
    }
    .bank{
        height:110px;
        
    }
    #banksoff{
        height:100px;
    }
   .banners{
    width:30%;
    height:80px;
   }
   #sam{
    height:80px;
    width:100%;
   }
   .banner{
    height:100px;
    
   }
   .mproimg{
    width:100%;
    margin-left:0px;
    height:250px;
    
   }
   .mobile{
    width:20%;
    height:150px;
   
   }
   .mimg{
    height:150px;
   }
   #msale{
    width:100%;
    
    height:140px;
    margin-left:0px;
   }
   #msale:hover{
    width:100%;
    height:140px;
   }
  #mpara{
    font-size: 10px;
    padding-top: 0px;
    line-height: 0px;
  }
  .bone{
    width:100%;
    
  }
  .fpara{
    height:1800px;
  }
  .lastf{
    height:430px;
  }
  .lone{
    width:100%;
    margin-left:0px;
  }
  .limg{
    width:100%;
    margin-left:0px;
  }
}